<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ka_Pow</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
    <script src="https://js.braintreegateway.com/web/3.39.0/js/paypal-checkout.min.js"></script>
  </head>  
  <body>
    <h1>
      Buy Your Very Own Karate Chop From Mr. M
    </h1>
<img src = https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQklQOFDfVVTmTb1vXdsycUp1sy3txflhcmjWrKOcV0qkdsdaJZ&s">
<br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5Y38CEM56PEW6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<br>
<a href="/sample">Click here to view a sample.</a>
  </body>
</html>
